## Problem statement:
### Your client is a meal delivery company which operates in multiple cities. They have various fulfillment centers in these cities for dispatching meal orders to their customers. The client wants you to help these centers with demand forecasting for upcoming weeks so that these centers will plan the stock of raw materials accordingly.

### Given the following information, the task is to predict the demand for the next 10 weeks (Weeks: 146-155) for the center-meal combinations in the test set:  

- Historical data of demand for a product-center combination (Weeks: 1 to 145)
- Product(Meal) features such as category, sub-category, current price and discount
- Information for fulfillment center like center area, city information etc.

## Tools and technologies used: 
* Python: Programming language
* Pandas: For data cleaning
* Matplotlib: For data visualisation
* sklearn: For model building

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

## Load dataset

In [2]:
train = pd.read_csv('train_data//train.csv')
test = pd.read_csv('test_data.csv')
fullfilment_info = pd.read_csv('train_data//fulfilment_center_info.csv')
meal_info = pd.read_csv('train_data//meal_info.csv')

In [3]:
train.head(3)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189

In [4]:
test.head(3)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0

In [5]:
fullfilment_info.head(3)

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0

In [6]:
meal_info.head(5)

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

# Merging datasets to create train data

#### Merge train with fulfillment_info on center_id

In [7]:
train_full=pd.merge(fullfilment_info,train, on='center_id',how='left')
train_full.head(3)

,center_id,city_code,region_code,center_type,op_area,id,week,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,11,679,56,TYPE_A,3.7,1103215,1,1885,136.83,136.83,0,0,959
1,11,679,56,TYPE_A,3.7,1093939,1,1993,133.89,133.89,0,0,1052
2,11,679,56,TYPE_A,3.7,1120771,1,2539,133.86,135.86,0,0,379

### Merge the result(train_full) with meal_info on meal_id

In [12]:
final_train_df= pd.merge(train_full,meal_info, on='meal_id',how='left')
final_train_df.head(50)

,center_id,city_code,region_code,center_type,op_area,id,week,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine
0,11,679,56,TYPE_A,3.7,1103215,1,1885,136.83,136.83,0,0,959,Beverages,Thai
1,11,679,56,TYPE_A,3.7,1093939,1,1993,133.89,133.89,0,0,1052,Beverages,Thai
2,11,679,56,TYPE_A,3.7,1120771,1,2539,133.86,135.86,0,0,379,Beverages,Thai
3,11,679,56,TYPE_A,3.7,1472938,1,2139,339.50,436.53,0,0,54,Beverages,Indian
4,11,679,56,TYPE_A,3.7,1136817,1,2631,251.23,251.23,0,0,80,Beverages,Indian
5,11,679,56,TYPE_A,3.7,1425970,1,1248,253.23,253.23,0,0,27,Beverages,Indian
6,11,679,56,TYPE_A,3.7,1053516,1,1778,183.39,181.39,0,0,620,Beverages,Italian
7,11,679,56,TYPE_A,3.7,1057835,1,1062,184.36,182.36,0,0,798,Beverages,Italian
8,11,679,56,TYPE_A,3.7,1309667,1,2707,190.12,192.12,0,0,1594,Beverages,Italian
9,11,679,56,TYPE_A,3.7,1277077,1,1207,315.25,353.08,0,1,446,Beverages,Continental
10,11,679,56,TYPE_A,3.7,1039023,1,1230,325.98,380.30,0,0,391,Beverages,Continental
11,11,679,56,TYPE_A,3.7,1483315,1,2322,324.04,383.21,0,0,513,Beverages,Continental
12,11,679,56,TYPE_A,3.7,1474933,1,2290,292.97,293.97,0,0,703,Rice Bowl,Indian
13,11,679,56,TYPE_A,3.7,1305533,1,1727,364.78,403.52,0,0,879,Rice Bowl,Indian
14,11,679,56,TYPE_A,3.7,1426280,1,1109,237.68,262.90,1,0,1984,Rice Bowl,Indian
15,11,679,56,TYPE_A,3.7,1114533,1,2577,281.33,281.33,0,0,202,Starters,Thai
16,11,679,56,TYPE_A,3.7,1192269,1,2640,280.33,282.33,0,0,271,Starters,Thai
17,11,679,56,TYPE_A,3.7,1351149,1,1878,281.33,282.33,0,0,68,Starters,Thai
18,11,679,56,TYPE_A,3.7,1039383,1,2306,243.50,338.53,0,0,258,Pasta,Italian
19,11,679,56,TYPE_A,3.7,1435407,1,1216,456.93,456.93,0,1,13,Pasta,Italian
20,11,679,56,TYPE_A,3.7,1199821,1,2826,338.53,338.53,0,0,458,Sandwich,Italian
21,11,679,56,TYPE_A,3.7,1157042,1,1754,273.54,275.54,0,0,729,Sandwich,Italian
22,11,679,56,TYPE_A,3.7,1200664,1,1971,259.99,327.86,1,0,528,Sandwich,Italian
23,11,679,56,TYPE_A,3.7,1380543,1,1902,387.03,447.23,0,0,54,Biryani,Indian
24,11,679,56,TYPE_A,3.7,1381214,1,1247,387.03,447.23,0,0,40,Biryani,Indian
25,11,679,56,TYPE_A,3.7,1264861,1,1770,338.53,484.03,0,0,41,Biryani,Indian
26,11,679,56,TYPE_A,3.7,1094881,1,1198,166.90,219.25,0,0,391,Extras,Thai
27,11,679,56,TYPE_A,3.7,1429620,1,1311,160.05,160.05,0,0,783,Extras,Thai
28,11,679,56,TYPE_A,3.7,1032988,1,1803,179.45,179.45,0,0,769,Extras,Thai
29,11,679,56,TYPE_A,3.7,1225075,1,1438,242.50,272.63,0,0,55,Soup,Thai
30,11,679,56,TYPE_A,3.7,1297860,1,1847,258.05,258.05,0,0,28,Soup,Thai
31,11,679,56,TYPE_A,3.7,1215256,1,1558,583.03,612.13,1,0,80,Pizza,Continental
32,11,679,56,TYPE_A,3.7,1059758,1,2581,582.00,612.13,1,1,459,Pizza,Continental
33,11,679,56,TYPE_A,3.7,1090602,1,1962,586.91,624.71,1,0,540,Pizza,Continental
34,11,679,56,TYPE_A,3.7,1236933,1,1445,628.62,627.62,0,1,81,Seafood,Continental
35,11,679,56,TYPE_A,3.7,1283261,1,2867,626.62,628.62,0,0,81,Seafood,Continental
36,11,679,56,TYPE_A,3.7,1439461,1,2760,243.53,242.53,0,0,215,Other Snacks,Thai
37,11,679,56,TYPE_A,3.7,1102584,1,1525,242.50,282.33,0,1,460,Other Snacks,Thai
38,11,679,56,TYPE_A,3.7,1147589,1,2704,243.50,280.33,0,1,270,Other Snacks,Thai
39,11,679,56,TYPE_A,3.7,1188075,1,2492,387.03,387.03,0,0,26,Desert,Indian
40,11,679,56,TYPE_A,3.7,1250484,1,1543,486.03,486.03,0,0,107,Desert,Indian
41,11,679,56,TYPE_A,3.7,1099886,1,2304,484.03,485.03,0,0,150,Desert,Indian
42,11,679,56,TYPE_A,3.7,1091356,2,1885,133.86,135.86,0,0,1054,Beverages,Thai
43,11,679,56,TYPE_A,3.7,1499733,2,1993,135.86,133.86,0,0,1000,Beverages,Thai
44,11,679,56,TYPE_A,3.7,1268442,2,2539,135.86,135.86,0,0,325,Beverages,Thai
45,11,679,56,TYPE_A,3.7,1088659,2,2139,323.01,437.53,0,0,28,Beverages,Indian
46,11,679,56,TYPE_A,3.7,1187728,2,2631,95.06,252.23,1,1,379,Beverages,Indian
47,11,679,56,TYPE_A,3.7,1400301,2,1248,96.06,251.23,1,1,527,Beverages,Indian
48,11,679,56,TYPE_A,3.7,1061719,2,1778,181.39,183.39,0,0,742,Beverages,Italian
49,11,679,56,TYPE_A,3.7,1499745,2,1062,181.39,182.39,0,0,689,Beverages,Italian