# Load data

In [1]:
import os
import pandas as pd
import numpy as np 
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [4]:
train_data_path = os.path.join("..","data", "processed", "final_train_df.csv")
test_data_path = os.path.join("..","data", "processed", "final_test_df.csv")
train = pd.read_csv(train_data_path)
test = pd.read_csv(test_data_path)

In [6]:
# Filter rows where checkout_price < base_price
df_filtered = train[train['checkout_price'] < train['base_price']].copy()

# Calculate Discount Percentage
df_filtered['discount'] = ((df_filtered['base_price'] - df_filtered['checkout_price']) / df_filtered['base_price']) * 100

display(df_filtered)

,meal_id,category,cuisine,center_id,city_code,region_code,center_type,op_area,week,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,discount
1,1885,Beverages,Thai,11,679,56,TYPE_A,3.7,2,133.86,135.86,0,0,1054,1.472104
3,1885,Beverages,Thai,11,679,56,TYPE_A,3.7,4,134.86,135.86,0,0,1107,0.736052
5,1885,Beverages,Thai,11,679,56,TYPE_A,3.7,6,144.53,146.53,0,0,1025,1.364908
7,1885,Beverages,Thai,11,679,56,TYPE_A,3.7,8,143.56,145.56,0,0,1093,1.374004
13,1885,Beverages,Thai,11,679,56,TYPE_A,3.7,14,145.53,146.53,0,0,1256,0.682454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456536,1445,Seafood,Continental,51,638,56,TYPE_A,7.0,134,485.03,727.53,1,1,244,33.331959
456537,1445,Seafood,Continental,51,638,56,TYPE_A,7.0,135,726.53,727.53,0,1,40,0.137451
456541,1445,Seafood,Continental,51,638,56,TYPE_A,7.0,139,726.53,728.53,0,0,41,0.274525
456545,1445,Seafood,Continental,51,638,56,TYPE_A,7.0,143,485.03,727.53,0,1,204,33.331959
456546,1445,Seafood,Continental,51,638,56,TYPE_A,7.0,144,484.03,728.53,1,1,337,33.560732

# PCA

In [ ]:
#